.font-heading {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bold {
    font-weight: bold;
    margin-left: 5px;
}

#start-screen {
    min-height: 75%;
    min-width: 99%;
    background: lightsalmon;
    position: absolute;
    text-align: center;
    padding-top: 150px;
}

#div-round {
    float:left;
}

.score {
    display: flex;
    justify-content: flex-end;
}

#main-message {
    min-height: 220px;
}

#div-choice div {
    margin-left: 20%;
    margin-bottom: 50px;
}

#div-buttons {
    display: flex;
    justify-content: center;
}

button {
    margin: 20px;
    padding: 50px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 2px 2px 5px gray;
    background-color: aliceblue;
    border-radius: 20px;
}