#div-round {
    float:left;
}

.score {
    display: flex;
    justify-content: flex-end;
}

#main-message {
    min-height: 50vh;
}

#div-buttons {
    display: flex;
    justify-content: center;
}

button {
    margin: 20px;
    padding: 50px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 2px 2px 5px gray;
    background-color: aliceblue;
    border-radius: 20px;
}